<header>
    <h1> Mis Productos </h1>

    <div>
        <p> ¡¡¡ Bienvenido !!!, {{user.first_name}} - {{user.last_name}} </p>
        <p>Email: {{user.email}} </p>
        <p> Role: {{user.role}} </p>
        <a href="/api/session/Logout">Logout</a>
    </div>
</header>