<h1> Mi pefil </h1>

<p> ¡¡¡ Bienvenido !!! {{user.first_name}} - {{user.last_name}} </p>
<p><strong>Email:</strong> {{user.email}} </p>
<p><strong>Edad:</strong> {{user.age}} </p>

<form action="/api/session/logout" method="POST">

<button type="submit">Logout</button>
</form>